@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #1E1E1E;
}

/* --- polygons - animation --- */

.polygon-one {
  animation: 2s ease-in-out 0s alternate poly-one;
  transform: rotate(-3deg) translate(6%, 34%);
}

.polygon-two {
  animation: 1.9s ease-in-out 0s alternate poly-two;
  transform: rotate(20deg) scale(1.2) translate(35%, 17%);
}

.polygon-three {
  animation: 1.8s ease-in-out 0s alternate poly-three;
  transform: rotate(40deg) scale(1.3) translate(48%, 0);
}

.polygon-four {
  animation: 1.7s ease-in-out 0s alternate poly-four;
  transform: rotate(60deg) scale(1.5) translate(55%, -18%);
}

.polygon-five {
  animation: 1.6s ease-in-out 0s alternate poly-five;
  transform: rotate(80deg) scale(1.7) translate(55%, -36%);
}

.polygon-six {
  animation: 1.5s ease-in-out 0s alternate poly-six;
  transform: rotate(120deg) scale(2.2) translate(40%, -60%);
}

@keyframes poly-one {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-3deg) translate(6%, 34%);
  }
}

@keyframes poly-two {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(20deg) scale(1.2) translate(35%, 17%);
  }
}

@keyframes poly-three {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(40deg) scale(1.3) translate(48%, 0);
  }
}

@keyframes poly-four {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(60deg) scale(1.5) translate(55%, -18%);
  }
}

@keyframes poly-five {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(80deg) scale(1.7) translate(55%, -36%);
  }
}

@keyframes poly-six {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(120deg) scale(2.2) translate(40%, -60%);
  }
}


#database * {
  transform-box: fill-box
}

#sphere-top {
  animation-delay: 1.2s;
}






/* --- rings top ---  */

#spheres-ring-one {
  animation: 3s ease-in-out infinite  pulse;
  transform-origin: center;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

#spheres-ring-two {
  animation: 3s ease-in-out infinite  pulse;
  transform-origin: center;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}


@keyframes fillAnimation {
  0% {
    fill: #3FBAFF;
  }
  25% {
    fill: #9A01F9;
  }
 
  70% {
    fill: #3FBAFF;
  }
}



#spheres-center-2 {
  animation:  3s ease-in-out infinite fillAnimation; 
  animation-delay: 2s;
}


/* --- corner svg --- */

.corner.svg-corner :hover{
  transform: scale(120%)
}

/* --- div --- */

.div  {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 97%;
  height: 96%;
  transform: translate(-50%, -50%);
  border: 0 solid;
  border-radius: 9px;
}

@keyframes animatedBackground {
  0%, 100% {
    background-color: #5ab6ec ;
  }
  25% {
    background-color: #2cf105 ;
  }
 
  75% {
    background-color: #c6f105 ;
  }

  

}

#modern-background {
  background: linear-gradient(#5ca5cf17, #059bf1) ;
  background-color: #5ab6ec;
  animation:  10s linear infinite animatedBackground; 
 
}

.text {
  background: linear-gradient(60deg, #b2e1fb, #ff478e,  #fb0060);
    background-clip: text;
    color: rgba(205, 31, 31, 0.2);
}